<div class="app-container">
  <h1 class="app-title">
    {{title | uppercase}}
  </h1>
  <div class="app-content">
    <app-post
      [postList]="allPosts"
      (eventPost)="selected($event)">
    </app-post>
    <app-selected
      [activePost]="selectedPost">
    </app-selected>
    <app-comment
      *ngIf="selectedPost"
      [postCommentList]="selectedCommentList">
    </app-comment>
    <button
      class="btn btn-secondary"
      type="button"
      (click)="toggleForm()">
      Dodaj Posta
    </button>
    <button
      *ngIf="selectedPost"
      class="btn btn-secondary"
      type="button"
      (click)="toggleComment()">
      Dodaj Komentarz
    </button>
    <app-post-form
      *ngIf="isPostFormOpen"
      (eventCloseForm)="closeForm($event)">
    </app-post-form>
    <app-comment-form
      *ngIf="isCommentFormOpen"
      (eventCloseComment)="closeComment($event)">
    </app-comment-form>
  </div>
</div>
